#root {
  height: 100vh;
  position: relative;
}

.App {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  text-align: center;
  height: 115%;
  width: 80%;
  background-color: rgb(92, 92, 92);
  transform: translateX(-100%);
}

.App-menu a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.App-body {
  height: 100%;
  background-color: black;
  color: white;
}

.App-header {
  text-align: center;
  background-color: grey;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button, .close-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 100%;
  outline: none;
}

.Group-buttons {
  display: flex;
  flex-direction: row;
  height: 15%;
}

.Group-buttons button {
  color: black;
  font-weight: bold;
  font-size: 20px;
  flex: 1;
  padding: 2% 5%;
  margin: 20px;
}

.close-menu {
  width: max-content;
  text-align: start;
}

.Header-title {
  flex: 20;
}

.Selectable-groups {
  background-color: black;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.Group-name {
  margin-bottom: 50px;
}

.Group-icon {
  margin: 20px auto;
  background-color: grey;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  overflow: hidden;
}

.Selectable-groups img {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}


@media screen and (min-width: 760px) {
  .App-header button, .close-menu {
    visibility: hidden;
    flex: 0;
    position: absolute;
    left: 100px;
  }
  
  .Header-burger {
    flex: 1;
    margin-left: 10px;
  }

  .App-menu {
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    transform: none;
  }

  .App-menu a {
    flex: 1;
  }

  .Group-buttons button {
    margin: 100px;
    font-size: 40px;
  }

  .Selectable-groups .Group-icon {
    height: 400px;
    width: 400px;
  }
}